$aboutBackground: #9999AE;
$educationBackground: #BA91B9;
$skillsBackground: #C682AD;
$projectsBackground: #FF8ACA;
$contactBackground: #FFA3D2;

$menuColor: #161516;
$buttonColor: #FF79BE;
$buttonHover: #FF55B2;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;