$aboutBackground: #B73B84;
$educationBackground: #DC5662;
$skillsBackground: #FF9341;
$projectsBackground: #F4CB6A;
$contactBackground: #C7E197;
$menuColor: #161516;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;